XML/dog.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="canines">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="canine" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="breed" type="xs:string" />
                            <xs:element name="color" type="xs:string" />
                            <xs:element name="Country" type="xs:string" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>